.head {
    position: relative;
    min-height: 165px;
    border-radius: 19px;
}

.card {
    background-color: var(--white-color);
    border-radius: 19px;
    box-shadow: 18.214px 18.214px 36.429px 0px rgba(211, 209, 216, 0.25);
    width: 320px;
}

.footer {
    padding: 12px;
}

.title{
    color: var(--text-color);
    font-size: 18.214px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.description {
    color: var(--text-secondary-color);
    font-size: 14.571px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price {
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--white-color);
    padding: 3px 10px;
    border-radius: 20px;
}